{% load static %}
<div id="toaster"></div>
<div class="wrapper">  
<aside class="left-sidebar bg-sidebar"> 
          <div id="sidebar" class="sidebar">
            <div class="app-brand">
              <a href="{% url 'admindashboard' %}" title="Sleek Dashboard">
                <span class="brand-name text-truncate">
                   Budget Coach
                </span> 
              </a>
            </div>
            <div class="sidebar-scrollbar">
			    <ul class="nav sidebar-inner" id="sidebar-menu">
                  	<li class="{{dashboard_page}}">
                              <a class="sidenav-item-link" href="{% url 'admindashboard' %}">
                                  <i class="fas fa-tachometer-alt"  style='font-size:20px'></i>
                                <span class="nav-text">Dashboard</span>
							  </a>
					</li>
                    <li  class="has-sub {{adminusser_page}}">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#app"
                          aria-expanded="false" aria-controls="app">
                            <i class="fas fa-users" style='font-size:20px'></i>
                          <span class="nav-text">Users</span> <b class="caret"></b>
                        </a>
                        <ul  class="collapse"  id="app" data-parent="#sidebar-menu">
                          <div class="sub-menu">
                               <li>
                                  <a class="sidenav-item-link" href="{% url 'subadmin' %}">
                                    <span class="nav-text">Subadmins</span>
                                  </a>
                                </li>
                                <li>
                                  <a class="sidenav-item-link" href="{% url 'adminusers' %}">
                                    <span class="nav-text">Users</span>
                                  </a>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <li  class="has-sub {{budget_category_page}}">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#app2"
                          aria-expanded="false" aria-controls="app">
                            <i class="fas fa-dollar-sign" style='font-size:20px'></i>

                          <span class="nav-text">Expense</span> <b class="caret"></b>
                        </a>
                        <ul  class="collapse"  id="app2" data-parent="#sidebar-menu">
                          <div class="sub-menu">
                               <li>
                                  <a class="sidenav-item-link" href="{% url 'adminbudgetcategories' %}">
                                    <span class="nav-text">Master Category</span>
                                  </a>
                                </li>
                                <li>
                                  <a class="sidenav-item-link" href="{% url 'category' %}">
                                    <span class="nav-text">Category</span>
                                  </a>
                                </li>
                               <li>
                                  <a class="sidenav-item-link" href="{% url 'subcategory' %}">
                                    <span class="nav-text">Subcategory</span>
                                  </a>
                                </li>
                               <li>
                                  <a class="sidenav-item-link" href="{% url 'incomecategory' %}">
                                    <span class="nav-text">Income Category</span>
                                  </a>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <li class="{{tax_category_page}}">
                              <a class="sidenav-item-link" href="{% url 'admintaxcategory' %}">
                                  <i class="fa fa-percent" style='font-size:15px' aria-hidden="true"></i>
                                <span class="nav-text">Tax Category</span>
							  </a>
					</li>
                    <li class="{{saving_category_page}}">
                              <a class="sidenav-item-link" href="{% url 'adminsavingcategory' %}">
                                  <i class="fas fa-piggy-bank"  style='font-size:20px'></i>
                                <span class="nav-text">Saving Category</span>
							  </a>
					</li>
                    <li class="">
                              <a class="sidenav-item-link" href="">
                                  <i class="fas fa-piggy-bank"  style='font-size:20px'></i>
                                <span class="nav-text">Subadmin Tasks</span>
							  </a>
					</li>


                </ul>
			 </div>
</aside>