{% extends "user_template/base.html" %}
{% block page_title %} Actual Expenses {% endblock %}
{% load widget_tweaks %}
{% block content %}

<div class="content-wrapper">
    <div class="content">

      <div class="row">
        <div class="col-12">
             {% if messages %}
                    <ul class="messages">
                        {% for msg in messages %}
                            <li>
                                <div class="alert alert-{{msg.level_tag}}" role="alert" id="alertmsg">
                                    {{msg.message}}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
            {% endif %}

            <div class="alert alert-primary alert-highlighted" role="alert">
               Add Actual Expense Here
			</div><br>
            <p><i class="fas fa-hand-point-right"></i> enter your actual expenses from <b>{{from_date}}</b> to <b>{{to_date}}</b></p><br>
             <div class="row">
                {% for newmonthdata in monthdata %}
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="media widget-media p-4 bg-white border">
                            <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
                                <i class="mdi mdi-calendar-blank font-size-20"></i>
                              </div>
                             <div class="media-body align-self-center">
                                <h4 class="text-primary mb-2">
                                 <p>{{newmonthdata.month_name}}</p></h4>
                                 <p> Expense : ${{newmonthdata.total_expense}}</p><br>
                                 <p> Income : ${{newmonthdata.total_income}}</p><br>
                                 <p> Expenses on :{% for i in newmonthdata.expense_list %}
                                                            {{i}} <br>
                                                        {% endfor %}
                                 <div class="row">
                                     <p style="padding: 6px;"><a href="{% url 'view_expense' month=newmonthdata.month_name %}" class="mb-1 btn btn-sm btn-outline-info">View Expenses</a></p>
                                     <p style="padding: 6px;"><a href="{% url 'add_actualexpenses' month=newmonthdata.month_name %}" class="mb-1 btn btn-sm btn-outline-primary">Add Expenses</a></p>
                                 </div>
                             </div>
                        </div>
                    </div>
                {% endfor %}


            </div>



         </div>
      </div>
  </div>
</div>
{% endblock content %}