{% extends "admin_template/base.html" %}
{% block page_title %} Edit Tax Categories {% endblock %}
{% load widget_tweaks %}
{% block content %}

<div class="content-wrapper">
    <div class="content">

      <div class="row">
        <div class="col-12">
             {% if messages %}
                    <ul class="messages">
                        {% for msg in messages %}
                            <li>
                                <div class="alert alert-{{msg.level_tag}}" role="alert" id="alertmsg">
                                    {{msg.message}}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
            {% endif %}

            <div class="card card-default">
               <div class="card-header card-header-border-bottom">
                  <h2>Edit Tax Categories </h2>
               </div>
               <div class="card-body">
                  <form method="POST" action="{%  url 'updatetaxcategory' %}" enctype="multipart/form-data">
                      <input type="hidden" name="tax_id" value="{{taxcatdata.id}}">
                      {% csrf_token %}
                      <div class="form-group">
                        <label>Tax Category Name :</label>
						<input type="text" name="tax_category_name"  value="{{taxcatdata.tax_category_name}}" required id="tax_category_name" class="form-control" placeholder="Tax Category Name">
                      </div>
                      <div class="form-footer pt-4 pt-5 mt-4 border-top">
                        <button type="submit" class="btn btn-primary btn-default">UPDATE</button>
                        <a href="{% url 'admintaxcategory' %}" class="btn btn-secondary btn-default">BACK</a>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
  </div>
</div>
{% endblock content %}