{% extends "user_template/base.html" %}
{% block page_title %} Other Loans{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div class="content">

      <div class="row">
        <div class="col-12">
             {% if messages %}
                    <ul class="messages">
                        {% for msg in messages %}
                            <li>
                                <div class="alert alert-{{msg.level_tag}}" role="alert" id="alertmsg">
                                    {{msg.message}}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <div class="card card-default">
               <div class="card-header card-header-border-bottom">
                  <h2>Edit Loan Here </h2>
               </div>

                <div id="dynamic_div">
                    <p style="color: red;margin-left: 28px;margin-top: 15px;display:none;" id="edit_other_loans_error">please fill all required fields</p>
                   <div class="card-body row">
                          {% csrf_token %}
                       <input type="hidden" name="other_loan_hidden_id" id="other_loan_hidden_id" value="{{loandata.id}}">
                          <div class="col-md-4">
                                  <div class="form-group">
                                        <label>Loan Name*:</label>
                                        <input type="text" name="loan_name" value="{{loandata.loan_name}}"  required id="loan_name" class="form-control" placeholder="Loan Name">
                                  </div>
                                  <div class="form-group">
                                    <label>Loan Amount*:</label>
                                    <input type="text" name="loan_amount"   value="{{loandata.loan_amount}}"  required id="loan_amount" class="form-control" placeholder="Loan Amount">
                                  </div>
                                  <div class="form-group">
                                    <label>ROE percentage time*:</label>
                                    <select class="form-control" name="roi_percentage_type" id="roi_percentage_type">
                                        <option selected value="0">--select time period--</option>
                                        <option value="weekly" {% if loandata.roi_percentage_type == 'weekly' %} selected {% endif %}>Weekly</option>
                                        <option value="monthly"  {% if loandata.roi_percentage_type == 'monthly' %} selected {% endif %} >Monthly</option>
                                        <option value="yearly" {% if loandata.roi_percentage_type == 'yearly' %} selected {% endif %} >yearly</option>
                                    </select>
                                  </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                    <label>ROE Percentage*:</label>
                                    <input type="text" name="roi_percentage" value="{{loandata.roi_percentage}}" required id="roi_percentage" placeholder="ROE Percentage "  class="form-control">
                              </div>
                              <div class="form-group">
                                    <label>Due Date*:</label>
                                    <input type="date" name="other_due_date" value="{{loandata.other_due_date}}"   required id="other_due_date"  class="form-control">
                              </div>
                               <div class="form-group">
                                    <label>Intrest Type*:</label>
                                    <select class="form-control" name="other_intrest_type" id="other_intrest_type">
                                        <option selected value="0">--intrest type--</option>
                                        <option value="simple" {% if loandata.other_intrest_type == 'simple' %} selected {% endif %} >Simple</option>
                                        <option value="compound"  {% if loandata.other_intrest_type == 'compound' %} selected {% endif %} >Compound</option>
                                    </select>
                                  </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                    <label>Loan Duration(in months)*:</label>
                                    <input type="text" name="loan_duration" value="{{loandata.loan_duration}}"  required id="loan_duration"  placeholder="Loan Duration" class="form-control">
                              </div>
                          </div>
                          <div class="form-footer pt-4 pt-5 mt-4 border-top">
                            <button type="button" id="update_otherloans" class="btn btn-primary btn-default">UPDATE</button>
                            <a href="{% url 'otherloans' %}" class="btn btn-primary btn-default">BACK</a>
                          </div>
                    </div>
               </div>


            </div>
         </div>
      </div>
  </div>
</div>









    {% endblock content %}