{% extends "user_template/base.html" %}
{% block page_title %}Family Details {% endblock %}
{% block content %}

<div class="content-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-12">

            <div class="card card-default">
               <div class="card-header card-header-border-bottom d-flex justify-content-between">
                  <h2>Family Details</h2>
                  <a href="{% url 'addfamily' %}"  title="Add Family" class="btn btn-outline-primary btn-sm text-uppercase">+</a>
               </div>
               <div class="card-body">
                   {% if messages %}
                                <ul class="messages">
                                    {% for msg in messages %}
                                        <li>
                                            <div class="alert alert-{{msg.level_tag}}" role="alert" id="alertmsg">
                                                {{msg.message}}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                   {% endif %}
                  <div class="basic-data-table">
                     <table id="basic-data-table" class="table nowrap" style="width:100%">
                        <thead>
                           <tr>
                              <th>Sl No</th>
                              <th>Family Member Name</th>
                              <th>Age</th>
                              <th>Email</th>
                              <th>Mobile</th>
                              <th>Edit</th>
                              <th>Delete</th>
                           </tr>
                        </thead>
                        <tbody>
                        {% if userdata %}
                            {% for newuserdata in userdata %}
                               <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td>{{newuserdata.username}}</td>
                                  <td>{{newuserdata.age}}</td>
                                  <td>{{newuserdata.email}}</td>
                                  <td>{{newuserdata.mobile}}</td>
                                  <td>
                                    <a href={% url 'updatefamilydetails' pk=newuserdata.id %}><i style="font-size: 25px;color:green;" class="fas fa-edit"></i></a>
                                  </td>
                                  <td>
                                    <i data-user_id="{{newuserdata.id}}" id="delete_users" style="font-size: 25px;color:red;"  class="click far fa-trash-alt" ></i>
                                  </td>
                               </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">
                                No-Family Member Found
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>

         </div>
      </div>
  </div>
</div>


<div class="modal fade" id="user_conformation_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalSmallTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalSmallTitle">are you sure you want to delete?</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">No</button>
                <form method="POST" action="{% url 'deletefamily' %}">
                    {% csrf_token %}
                    <input type="hidden" name="userid" id="userid">
                    <button type="submit" class="btn btn-primary btn-pill">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
